name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Core Domain Tests
        run: ./gradlew :core-domain:test

      - name: Build Debug
        run: ./gradlew :app:assembleDebug

      - name: Unit Tests
        run: ./gradlew :app:testDebugUnitTest
